.DS_Store
node_modules
coverage
build
dist

# local env files
.env.local
.env.*.local

.package-lock.json

# Log files
npm-debug.log*
npm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/__tests__/